.grid-container{
	display: grid;
	background-color: lightblue;

}
.image-container{
	position: relative;
	display: inline-grid;

}

.hover-image{
	display: block;
	width: 300px;
}
.image-container::after{
	content: 'Hovered';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 24px;
	opacity: 0;
	transition: opacity 0.3s ease;


}
.image-container:hover::after{
	opacity: 1;/*show text overlay when hovering*/
}






